{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Helicon Engineering Works</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}">
        <nav role="navigation" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                <li><a href="/home/">Home</a></li>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li><a id="print_id" href="javascript:void(0)">Print</a></li>
                </ul>
            </div>
        </nav>
        <div class="invoice-box" id="printable">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="{% static 'images/helicon-logo5.png' %}">
                                </td>
                            </tr>
                        </table>
                        <center><b> Delivery Challan Cum Gate Pass </b></center>
                        <br>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <table>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default" style="border-color: black;">
                                        <div class="panel-body">
                                            <p>
                                                <b>Consignee M/S : </b> {{service.customer|default:"NA"}}<br>
                                                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> {{service.customer.address}}<br>
                                                <b> Gate Pass No. : </b>&nbsp; {{service.gate_pass_no|default:"NA"}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </td>
                </tr>
                <table>
                    <h5>Please recieve the following in good order and condition and return the duplicate copy duty signed and stamped in token of your having recieved of goods</h5>
                <br>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default" style="border-color: black;">
                                        <div class="panel-body">
                                            <div class="nocoloumn">
                                                <center> Sr. No. </center>
                                            </div>
                                            <div class="descdeliverycoloumn">
                                                <center> Item </center>
                                            </div>
                                            <div class="qtycoloumn">
                                                <center> Qty/Set </center>
                                            </div>                                            
                                            <div class="remarkcoloumn">
                                                <center> Remark </center>
                                            </div>
                                        </div>
                                        <hr/>

                                        {% for part in service.parts.all %}
                                        <div class="panel-body">
                                            <div class="nocoloumn">
                                                {{ forloop.counter }}
                                            </div>
                                            <div class="descdeliverycoloumn">
                                                 {{part.part_name}}
                                            </div>
                                            <div class="qtycoloumn">
                                                {{part.part_quantity}}
                                            </div>
                                            {% if forloop.counter == 1%}   
                                            <div class="remarkcoloumn">
                                                {{service.delivery_invoice_details.remark}}
                                            </div>
                                            {% else %}
                                            <div class="remarkcoloumn">
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                            </div>
                        </table>
                    </td>
                </tr>






                <br>
                <br>
                <tr>
                    <td>
                        <table>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default" style="border-color: black;">
                                        <div class="panel-body">
                                            <div class="floatleft">
                                                <b>VAT TIN No. :</b> 24750701947
                                                <br>
                                                <b>CST No. :</b> 24750701947
                                            </div>
                                            <div class="floatright">
                                                <b>Party TIN No. :</b> {{service.customer.tin_number|default:"NA"}}
                                                <br>
                                                <b>CST No. : </b>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="panel-body">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <b> Vehical Number: </b> {{service.delivery_invoice_details.vehical_number|default:"NA"}}
                                        <b class="pull-right"> Authorized By</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <br>
            <b>
            Received the above goods in good order and condition
            <span style="padding-left:57px;">Date :</span>
            <span class="pull-right">Reciever Sign with Stamp</span>
            </b>
            <center>
            <br>
            <b>Note : </b> This is a computer generated INVOICE hence does not requires signature.</center>
            <img src="{% static 'images/helicon-footer.png' %}">
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jQuery.print.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/invoicepdf.js' %}"></script>
    </body>
</html>
