

{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Helicon Engineering Works</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}">
        <nav role="navigation" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                <li><a href="/home/">Home</a></li>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li><a id="print_id" href="javascript:void(0)">Print</a></li>
                </ul>
            </div>
        </nav>
        <div class="invoice-box" id="printable">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="{% static 'images/helicon-logo5.png' %}">
                                </td>
                            </tr>
                        </table>
                        <hr style="margin-top: -7px;">
                        <center><b> Invoice </b></center>
                        <br>
                        <hr style="margin-top: -7px;">
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <table>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>To : <span style="color:#337AB7;">{{service.customer}}</span></h4>
                                        </div>
                                        <div class="panel-body">
                                            <p>
                                                <b>Phone No. : </b> {{service.customer.phone_number|default:"NA"}}<span class="pull-right"><b>Invoice No. : </b> {{service.invoice_number}}</span><br>
                                                <b>Email : </b> {{service.customer.email|default:"NA"}}<span class="pull-right"><b>P.O. Date : </b> {{service.purchase_order_date|date:"d M Y"|default:"NA"}}</span><br>
                                                <b>Tine Number : </b> {{service.customer.tin_number|default:"NA"}}<span class="pull-right"><b>P.O. No. : </b> {{service.purchase_order_number|default:"NA"}}</span><br>
                                                <b>Address : </b> {{service.customer.address|default:"NA"}}<br>
                                                {% if service.vehical %}
                                                <b>Vehical No. : </b> {{service.vehical|default:"NA"}}
                                                {% else %}
                                                <b>Service : </b>{{service.otherservice|default:"NA"}}<br>
                                                <b>Service No. : </b>{{service.otherservice.number|default:"NA"}}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </td>
                </tr>


                {% if service.parts.all %}
                    <table>
                        <h2><small>Item Description</small></h2>
                        <tr class="heading">
                            <td style="border: 1px solid #eee;">
                                No. 
                            </td>
                            <td style="border: 1px solid #eee;">
                                Name
                            </td>
                            <td style="border: 1px solid #eee;">
                                Quantity
                            </td>
                            <td style="border: 1px solid #eee;">
                                Price
                            </td>
                            <td style="border: 1px solid #eee;">
                                Amount
                            </td>
                        </tr>
                        {% for part in service.parts.all %}
                        <tr class="item">
                            <td style="border: 1px solid #eee; width: 50px;">{{ forloop.counter }}</td>
                            <td style="border: 1px solid #eee;">{{part.part_name}}</td>
                            <td style="border: 1px solid #eee; width: 50px;">{{part.part_quantity}}</td>
                            <td style="border: 1px solid #eee; width: 100px;">{{part.price}}</td>
                            <td style="border: 1px solid #eee; width: 100px;">{% widthratio part.part_quantity 1 part.price %}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="border: 1px solid #eee; font-size: 12px;">Vat/C-Form</td>
                            <td style="border: 1px solid #eee;">{{service.tax}}%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="border: 1px solid #eee; font-size: 12px;">Vat Amount</td>
                            <td style="border: 1px solid #eee;">{{service.tax_amount}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="border: 1px solid #eee; font-size: 12px;">G. Total</td>
                            <td style="border: 1px solid #eee;">{{service.part_cost|add:service.tax_amount}}</td>
                        </tr>
                    </table>
                {% endif %}


                {% if service.labourcost_detail.all %}
                    <table>
                        <h2><small>Labour Cost Description</small></h2>
                        <tr class="heading">
                            <td style="border: 1px solid #eee;">
                                No. 
                            </td>
                            <td style="border: 1px solid #eee;">
                                Name
                            </td>
                            <td style="border: 1px solid #eee;">
                                Amount
                            </td>
                        </tr>
                        {% for labour in service.labourcost_detail.all %}
                        <tr class="item">
                            <td style="border: 1px solid #eee; width: 50px;">{{ forloop.counter }}</td>
                            <td style="border: 1px solid #eee;">{{labour.name}}</td>
                            <td style="border: 1px solid #eee; width: 100px;">{{labour.labour_price}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td style="border: 1px solid #eee; font-size: 12px;">Service Tax</td>
                            <td style="border: 1px solid #eee;">{{service.service_tax}}%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="border: 1px solid #eee; font-size: 12px;">Service Tax Amount</td>
                            <td style="border: 1px solid #eee;">{{service.service_tax_amount}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="border: 1px solid #eee; font-size: 12px;">G. Total</td>
                            <td style="border: 1px solid #eee;">{{service.labour_cost|add:service.service_tax_amount}}</td>
                        </tr>
                    </table>
                {% endif %}


                <table>
                    <h2><small>Payment Description</small></h2>
                    <tr class="heading">
                        <td style="border: 1px solid #eee;">
                            No. 
                        </td>
                        <td style="border: 1px solid #eee;">
                            Amount
                        </td>
                        <td style="border: 1px solid #eee;">
                            Date
                        </td>
                        <td style="border: 1px solid #eee;">
                            Recieved By
                        </td>
                        <td style="border: 1px solid #eee;">
                            Payment Type
                        </td>
                        <td style="border: 1px solid #eee;">
                            Cheque Number
                        </td>
                    </tr>
                    {% for payment in service.payment.all %}
                    <tr class="item">
                        <td style="border: 1px solid #eee; width: 50px;">{{ forloop.counter }}</td>
                        <td style="border: 1px solid #eee;width: 100px;">&#8377; {{payment.payment_amount}}</td>
                        <td style="border: 1px solid #eee;">{{payment.created_date}}</td>
                        <td style="border: 1px solid #eee; width: 100px;">{{payment.recieved_by}}</td>
                        <td style="border: 1px solid #eee; width: 100px;">{{payment.payment_type}}</td>
                        <td style="border: 1px solid #eee; width: 100px;">{{payment.cheque_number|default:"NA"}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="border: 1px solid #eee; font-size: 12px;">Total Paid Amount</td>
                        <td style="border: 1px solid #eee;">&#8377; {{service.total_paid}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="border: 1px solid #eee; font-size: 12px;">Pending Amount</td>
                        <td style="border: 1px solid #eee;">&#8377; {{service.total_pending}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="border: 1px solid #eee; font-size: 12px;">G. Total</td>
                        <td style="border: 1px solid #eee;">&#8377; {{service.total_cost}}</td>
                    </tr>
                </table>
                <br>
                <b> Gate Pass Number: </b> {{service.gate_pass_no|default:"NA"}}
            </table>
            <br>
            <br>
            <br>
            <center><b>Note : </b> This is a computer generated INVOICE hence does not requires signature.</center>
            <img src="{% static 'images/helicon-footer.png' %}">
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jQuery.print.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/invoicepdf.js' %}"></script>
    </body>
</html>
