{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Helicon Engineering Works</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}">
        <nav role="navigation" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                <li><a href="/home/">Home</a></li>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li><a id="print_id" href="javascript:void(0)">Print</a></li>
                </ul>
            </div>
        </nav>
        <div class="invoice-box" id="printable">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="{% static 'images/helicon-logo5.png' %}">
                                </td>
                            </tr>
                        </table>
                        <center><b> Tax Invoice </b></center>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <div class="row">
                                <div class="col-md-12" style="padding-right: 1px;">
                                    <div class="panel panel-default" style="border-color: black;">
                                        <div class="panel-body">
                                            <div class="userdetail">
                                                <b class="userheader"> To </b> <b>: {{service.customer}} </b><br>
                                                <b class="userheader">Address </b> : {{service.customer.address|default:"NA"}}<br>
                                                <b class="userheader">Phone No. </b>: {{service.customer.phone_number|default:"NA"}}<br>
                                                <b class="userheader">Email </b>: {{service.customer.email|default:"NA"}}<br>
                                                <b class="userheader">Tin Number </b>: {{service.customer.tin_number|default:"NA"}}<br>
                                                {% if service.vehical %}
                                                <b class="userheader">Vehical No. </b>: {{service.vehical|default:"NA"}}
                                                {% else %}
                                                <b class="userheader">Service </b>:{{service.otherservice|default:"NA"}}<br>
                                                {% endif %}
                                            </div>
                                            <div class="invoicedetail">
                                            <b class="userbody">Invoice No. </b>: {{service.invoice_number}}<br>
                                            <b class="userbody">P.O. Date </b>: {{service.purchase_order_date|date:"d M Y"|default:"NA"}}<br>
                                            <b class="userbody">P.O. No. </b>: {{service.purchase_order_number|default:"NA"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default" style="border-color: black;">
                                        <div class="panel-body">
                                            <div class="nocoloumn">
                                                <center> <b> Sr. No. </b> </center>
                                            </div>
                                            <div class="desclabourcoloumn">
                                                <center> <b> Item </b> </center>
                                            </div>
                                            <div class="qtycoloumn">
                                                <center> <b> Qty. </b> </center>
                                            </div>                                            
                                            <div class="pricecoloumn">
                                                <center> <b> Price </b> </center>
                                            </div>                                            
                                            <div class="amountcoloumn">
                                                <center> <b> Amount </b> </center>
                                            </div>
                                        </div>
                                        <hr/>

                                        {% for part in service.parts.all %}
                                        <div class="panel-body">
                                            <div class="nocoloumn">
                                                {{ forloop.counter }}
                                            </div>
                                            <div class="desclabourcoloumn">
                                                {{part.part_name}}
                                            </div>
                                            <div class="qtycoloumn">
                                                {{part.part_quantity}}
                                            </div>                                            
                                            <div class="pricecoloumn">
                                                {{part.price}}
                                            </div>                                            
                                            <div class="amountcoloumn">
                                                {% widthratio part.part_quantity 1 part.price %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="panel-footer">
                                            <span class="pull-right" style="width: 173px;"><b> Vat/C-Form </b>: {{service.tax}}%</span><br>
                                            <span class="pull-right" style="width: 173px;"><b> Vat Amount </b>: {{service.tax_amount}}</span><br>
                                            <span class="pull-right" style="width: 173px;"><b> Grand Total </b>: {{service.part_cost|add:service.tax_amount}}</span>
                                        </div>
                                    </div>
                            </div>
                        </table>
                    </td>
                </tr>
                <br>
            </table>
            <tr>
                <td>
                    <table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default" style="border-color: black;">
                                    <div class="panel-body">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <b> Gate Pass Number: </b> {{service.gate_pass_no|default:"NA"}}
                                    <b class="pull-right"> Authorized By</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </td>
            </tr>
            <center><b>Note : </b> This is a computer generated INVOICE hence does not requires signature.</center>
            <img src="{% static 'images/helicon-footer.png' %}">
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jQuery.print.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/invoicepdf.js' %}"></script>
    </body>
</html>
