{% load staticfiles %}
<!doctype html>
<html moznomarginboxes mozdisallowselectionprint>
<style type="text/css" media="print">
@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}
</style>
    <head>
        <meta charset="utf-8">
        <title>Helicon Engineering Works</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}">
        <nav role="navigation" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                <li><a href="/home/">Home</a></li>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li><a id="print_id" href="javascript:void(0)">Print</a></li>
                </ul>
            </div>
        </nav>
        <div class="invoice-box" id="printable">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="{% static 'images/helicon-logo5.png' %}">
                                </td>
                            </tr>
                        </table>
                        <center><b> Tax Invoice </b></center>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <div class="row">
                                <div class="col-md-12" style="padding-right: 1px;">
                                    <div class="panel panel-default" style="border-color: black;">
                                        <div class="panel-body">
                                            <div class="userdetail">
                                                <b class="userheader"> To </b> <b>: {{service.customer|title}} </b><br>
                                                <b class="userheader">Address </b> : {{service.customer.address|default:"NA"|capfirst}}<br>
                                                <b class="userheader">Phone No. </b>: {{service.customer.phone_number|default:"NA"}}<br>
                                                <b class="userheader">Email </b>: {{service.customer.email|default:"NA"}}<br>
                                                <b class="userheader">Tin Number </b>: {{service.customer.tin_number|default:"NA"}}<br>
                                                {% if service.vehical %}
                                                <b class="userheader">Vehical No. </b>: {{service.vehical|default:"NA"}}
                                                {% else %}
                                                <b class="userheader">Service </b>: {{service.otherservice|default:"NA"}}<br>
                                                {% endif %}
                                            </div>
                                            <div class="invoicedetail">
                                            <b class="userbody">Invoice No. </b>: {{service.invoice_number}}<br>
                                            <b class="userbody">P.O. Date </b>: {{service.purchase_order_date|date:"d M Y"|default:"NA"}}<br>
                                            <b class="userbody">P.O. No. </b>: {{service.purchase_order_number|default:"NA"}}<br>
                                            <b class="userbody">Invoice Date </b>: {{service.invoice_date|date:"d M Y"|default:"NA"}}<br>
                                            <b class="userbody">Challan No. </b>: {{service.challan_number|default:"NA"}}<br>
                                            <b class="userbody">Challan Date </b>: {{service.challan_date|date:"d M Y"|default:"NA"}}<br>
                                            <b class="userbody">Gate Pass No. </b>:
                                            {{service.gate_pass_no|default:"NA"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default" style="border-color: black;">
                                        <div class="panel-body">
                                            <div class="nocoloumn">
                                                <center> <b> Sr. No. </b> </center>
                                            </div>
                                            <div class="desclabourcoloumn">
                                                <center> <b> Item </b> </center>
                                            </div>
                                            <div class="qtycoloumn">
                                                <center> <b> Qty/Set </b> </center>
                                            </div>                                            
                                            <div class="pricecoloumn">
                                                <center> <b> Price </b> </center>
                                            </div>                                            
                                            <div class="amountcoloumn">
                                                <center> <b> Amount </b> </center>
                                            </div>
                                        </div>
                                        <hr/>

                                        {% for part in service.parts.all %}
                                        <div class="panel-body">
                                            <div class="nocoloumn">
                                                {{ forloop.counter }}
                                            </div>
                                            <div class="desclabourcoloumn">
                                                {{part.part_name|capfirst}}
                                            </div>
                                            <div class="qtycoloumn">
                                                {{part.part_quantity}}
                                            </div>                                            
                                            <div class="pricecoloumn">
                                                {{part.price}}
                                            </div>                                            
                                            <div class="amountcoloumn">
                                                {{ part.total_price }}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="panel-footer">
                                            <span class="pull-right" style="width: 173px;"><b> Vat/C-Form </b>: {{service.tax}}%</span><br>
                                            <span class="pull-right" style="width: 173px;"><b> Vat Amount </b>: {{service.tax_amount}}</span><br>
                                            <span class="pull-right" style="width: 173px;"><b> Grand Total </b>: {{service.part_cost|add:service.tax_amount}}</span>
                                            <b> Total In Words </b> : {{service_grand_total |title}}
                                        </div>
                                    </div>
                            </div>
                        </table>
                    </td>
                </tr>


                {% if service.payment.all %}
                <tr>
                    <td>
                        <table>
                            <h5><center> Payment Description </center></h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default" style="border-color: black;">
                                        <div class="panel-body">
                                            <div class="nocoloumn">
                                                <center> <b> Sr. No. </b> </center>
                                            </div>
                                            <div class="paymentamountcoloumn">
                                                <center> <b> Amount </b> </center>
                                            </div>
                                            <div class="paymentdatecoloumn">
                                                <center> <b> Date </b> </center>
                                            </div>                                            
                                            <div class="paymentrecievedcoloumn">
                                                <center> <b> Recieved By </b> </center>
                                            </div>
                                            <div class="paymenttypecoloumn">
                                                <center> <b> Payment Type </b> </center>
                                            </div>
                                            <div class="paymentchequecoloumn">
                                                <center> <b> Cheque Number </b> </center>
                                            </div>
                                        </div>
                                        <hr/>

                                        {% for payment in service.payment.all %}
                                        <div class="panel-body">
                                            <div class="nocoloumn">
                                                {{ forloop.counter }}
                                            </div>
                                            <div class="paymentamountcoloumn">
                                                {{payment.payment_amount}}
                                            </div>
                                            <div class="paymentdatecoloumn">
                                                {{payment.created_date|date:"d M Y"|default:"NA"}}
                                            </div>                                            
                                            <div class="paymentrecievedcoloumn">
                                                {{payment.recieved_by}}
                                            </div>
                                            <div class="paymenttypecoloumn">
                                                {{payment.payment_type}}
                                            </div>
                                            <div class="paymentchequecoloumn">
                                                {{payment.cheque_number|default:"NA"}}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="panel-footer">
                                        <span class="pull-right" style="width: 173px;"> <b>T. Paid Amount </b>: {{service.total_paid}}</span><br>
                                        <span class="pull-right" style="width: 173px;"><b>Pending Amount </b>: {{service.total_pending}}</span><br>
                                        <span class="pull-right" style="width: 173px;"><b>Freight Amount </b>: {{service.freight_cost}}</span><br>
                                        <span class="pull-right" style="width: 173px;"><b>Grand Total</b> : {{service.total_cost}}</span>
                                        <b> Total In Words </b> : {{grand_total |title}} 
                                        </div>
                                    </div>
                            </div>
                        </table>
                    </td>
                </tr>
                {% endif %}

                <br>
            </table>
            <center><b>Note : </b> This is a computer generated INVOICE hence does not requires signature.</center>
            <img src="{% static 'images/helicon-footer.png' %}">
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jQuery.print.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/invoicepdf.js' %}"></script>
    </body>
</html>
