{% extends "templates/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="side-body">
        <div class="page-title">
            <span class="title">Service</span>
            <div class="description"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">

                        <div class="card-title">
                        <div class="title">Service Details</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Invoice Number</th>
                                    <th>Serviced Product</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Total Paid</th>
                                    <th>Total Pending</th>
                                    <th>Serviced</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Invoice Number</th>
                                    <th>Serviced Product</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Total Paid</th>
                                    <th>Total Pending</th>
                                    <th>Serviced</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for service in services %}
                                <tr>
                                    <td>{{service.invoice_number}}</td>
                                    {% if service.vehical %}
                                        <td>{{service.vehical}}</td>
                                    {% else %}
                                        <td>{{service.otherservice}}</td>
                                    {% endif %}
                                    <td>{{service.customer|title }}</td>
                                    <td>{{service.service_date}}</td>
                                    <td>$ {{service.total_paid}}</td>
                                    <td>$ {{service.total_pending}}</td>
                                    <td>{{service.is_serviced}}</td>
                                    <td>
                                        <div aria-label="Extra-small button group" role="group" class="btn-group btn-group-xs">
                                          <a class="btn btn-default customerbutton" data-toggle="modal" data-target="#Modal{{service.invoice_number}}" id={{service.invoice_number}} value="view" type="button">Invoice</a>
                                        </div>

                                      <!-- Modal -->
                                      <div class="modal fade" id="Modal{{service.invoice_number}}" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Please select Invoice type</h4>
                                            </div>
                                            <div class="modal-body">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                             <a class="btn btn-default" type="button" href="{% url 'service:invoice_view' service.invoice_number%}">
                                             Invoice
                                             </a><br>
                                             <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                          <a class="btn btn-default" type="button" href="{% url 'service:invoice_retail_view' service.invoice_number%}">
                                              Retail Invoice
                                          </a><br>
                                          <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                          <a class="btn btn-default" type="button" href="{% url 'service:invoice_tax_view' service.invoice_number%}">
                                              Tax Invoice
                                          </a>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>    
</div>
{% endblock content %}

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a small modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
