{% extends "templates/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="side-body">
        <div class="page-title">
            <span class="title">Quotation</span>
            <div class="description"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">

                        <div class="card-title">
                        <div class="title">Quotation Details</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Quotation Number</th>
                                    <th>Customer Name</th>
                                    <th>Company Name</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th>Contact Number</th>
                                    <th>Total Cost</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Quotation Number</th>
                                    <th>Customer Name</th>
                                    <th>Company Name</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th>Contact Number</th>
                                    <th>Total Cost</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for quotation in quotations %}
                                <tr>
                                    <td>{{quotation.id}}</td>
                                    <td>{{quotation.customer_name |title}}</td>
                                    <td>{{quotation.company_name |title }}</td>
                                    <td>{{quotation.email}}</td>
                                    <td>{{quotation.created_date}}</td>
                                    <td>{{quotation.phone_number}}</td>
                                    <td>$ {{quotation.total_cost}}</td>
                                    <td>
                                        <div aria-label="Extra-small button group" role="group" class="btn-group btn-group-xs">
                                          <a class="btn btn-default customerbutton" href="{% url 'quotation:quotation_pdf' quotation.id%}" id={{quotation.id}} value="view" type="button">Quotation</a>
                                        </div>
                                        <div aria-label="Extra-small button group" role="group" class="btn-group btn-group-xs">
                                          <a class="btn btn-default customerbutton" data-toggle="modal" data-target="#Modal{{quotation.id}}" id={{quotation.id}} value="view" type="button">Performa</a>
                                        </div>

                                      <!-- Modal -->
                                      <div class="modal fade" id="Modal{{quotation.id}}" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Please select Invoice type</h4>
                                            </div>
                                            <div class="modal-body">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                             <a class="btn btn-default" type="button" href="{% url 'quotation:performa' quotation.id%}">
                                             Generate New Performa
                                             </a><br>
                                             {% if quotation.performa|length %}
                                             <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                              <a class="btn btn-default" type="button" href="{% url 'quotation:performa_pdf' quotation.id%}">
                                                  View Old Performa
                                              </a>
                                              {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>    
</div>
{% endblock content %}
