.invoice-box {
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    color: #555;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 17px;
    margin: auto;
    max-width: 801px;
    padding: 30px;
}

.invoice-box table{
    width:100%;
    line-height:inherit;
    text-align:left;
}

.invoice-box table td{
    padding:0px;
    vertical-align:top;
}

.invoice-box table tr td:nth-child(2){
    text-align:start;
}

.invoice-box table tr.top table td{
    padding-bottom:20px;
}

.invoice-box table tr.top table td.title{
    font-size:45px;
    line-height:45px;
    color:#333;
}

.invoice-box table tr.information table td{
    padding-bottom:40px;
}

.invoice-box table tr.heading td{
    background:#eee;
    border-bottom:1px solid #ddd;
    font-weight:bold;
}

.invoice-box table tr.details td{
    padding-bottom:20px;
}

.invoice-box table tr.item td{
    border-bottom:1px solid #eee;
}

.invoice-box table tr.item.last td{
    border-bottom:none;
}

.invoice-box table tr.total td:nth-child(2){
    border-top:2px solid #eee;
    font-weight:bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td{
        width:100%;
        display:block;
        text-align:center;
    }
    
    .invoice-box table tr.information table td{
        width:100%;
        display:block;
        text-align:center;
    }
}
.floatleft {
    float:left; 
    width: 50%;
    border-right: 1px solid black;
}
.userheader {
    float:left; 
    width: 19%;
    padding-left: 4px;
}
.userbody {
    float:left; 
    width: 32%;
    padding-left: 4px;
}
.userdetail {
    height: 135px;
    width: 60%;
    float: left;
    border-right: 1px solid black;
}
.deliverydetail {
    height: 55px;
    width: 60%;
    float: left;
    border-right: 1px solid black;
}
.invoicedeliverydetail {
    height: 55px;
    width: 40%;
    float: right;
}
.invoicedetail {
    height: 105px;
    width: 40%;
    float: right;
}
.floatright {
    float: right;
    width: 50%;
    padding-left: 18px;
}
.nocoloumn {
    float:left; 
    width: 5%;
    border-right: 1px solid black;
    height: 35px;
    padding-left: 2px;
}
.descdeliverycoloumn {
    float:left; 
    width: 60%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;
}
.paymentamountcoloumn {
    float:left; 
    width: 20%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;
}
.paymentrecievedcoloumn {
    float:left; 
    width: 20%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;   
}
.paymenttypecoloumn {
    float:left; 
    width: 15%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;      
}
.paymentdatecoloumn {
    float:left; 
    width: 20%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;
}
.paymentchequecoloumn {
    float:left; 
    width: 20%;
    height: 35px;
    overflow: hidden;
    padding-left: 2px;
}
.desclabourcoloumn {
    float:left; 
    width: 49%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;
}
.codecoloumn {
    float:left; 
    width: 15%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;
}
.descquotationcoloumn {
    float:left; 
    width: 40%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;
}
.itemquotationcoloumn {
    float:left; 
    width: 24%;
    height: 35px;
    border-right: 1px solid black;
    overflow: hidden;
    padding-left: 2px;
}
.qtycoloumn {
    float:left; 
    width: 7%;
    height: 35px;
    padding-left: 2px;
    border-right: 1px solid black;
}
.pricecoloumn {
    float:left; 
    width: 9%;
    height: 35px;
    padding-left: 2px;
    border-right: 1px solid black;
}
.reportcoloumn {
    float:left; 
    width: 15%;
    height: 35px;
    padding-left: 2px;
    border-right: 1px solid black;
}
.reportnamecoloumn {
    float:left; 
    width: 35%;
    height: 35px;
    padding-left: 2px;
    border-right: 1px solid black;
}
.reportamountcoloumn {
    float:left; 
    width: 8%;
    height: 35px;
    padding-left: 2px;
}
.amountcoloumn {
    float:left; 
    width: 8%;
    height: 35px;
    padding-left: 2px;
}
.remarkcoloumn {
    float:left; 
    width: 28%;
    height: 35px;
    padding-left: 2px;
}
.panel-body {
    padding: 0px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0em 0;
    padding: 0;
    border-color: black;
}
.panel-footer {
    background-color: white;
    border-bottom-left-radius: 145px;
    border-bottom-right-radius: 113px;
    border-top: 1px solid black;
    padding: 0 0 15px;
    text-align: left;
}
