<section id="service_area_two">
	<div class="container">
		<div class="row">
			<div class="head_title service service_two text-center">
				<h4>WE OFFER</h4>
				<h2 style="text-align: center;">Our Service</h2>
				<span></span>
				<p></p>
			</div>
			<div class="offer_content">
				<!-- single project -->
				<div class="single_offer singl_offer_two">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
						<div class="offers">
							<span class="flaticon-steps1"></span>     <!-- service icon -->
							<h2>Digital Marketing</h2>
						</div> 
					</div>
				</div>
				<!-- single project -->
				<div class="single_offer singl_offer_two">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="offers">
							<span class="flaticon-constructions10"></span>     <!-- service icon -->
							<h2>SEO</h2>
						</div> 
					</div>
				</div>
				<!-- single project -->
				<div class="single_offer singl_offer_two">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="offers">
							<span class="flaticon-house158"></span>		   <!-- service icon -->
							<h2>B2B Marketing</h2>
						</div> 
					</div>
				</div>
				<!-- single project -->
				<div class="single_offer singl_offer_two">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
						<div class="offers">
							<span class="flaticon-measuring7"></span> 	<!-- service icon -->
							<h2>SEM</h2>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</section>
