<section id="testimonial_area_two">
	<div class="container">
		<div class="row"> 
			<div class="testimoinal_title text-center">
				<h3>Testimonials</h3>
				<h2 style="text-align: center;">What Other Said</h2>
				<span></span>
				 
			</div>
			<div class="testimonial_content">
				<div class="col-md-12">  
				<ul class="bxslider">
					  <li>
					  <div class="horizen">  
							<div class="slider_left">
								<img src="/static/images/home-1/testimonial_author.png" alt="img" />  
							</div>
							<div class="slider_right"> 
								<h2>CRISTINA RICHARDS</h2>
								<h3>CEO - SmartDesign</h3>
								<p>Marketing Hub World's affiliate program is the best around. Not only is the product the best in their market, the product basically sells itself, making the decision to promote an easy one!</p>
							</div>
						</div> 
					  </li>
					  <li>
					  <div class="horizen">  
							<div class="slider_left">
								<img src="/static/images/home-1/testimonial_author.png" alt="img" />  
							</div>
							<div class="slider_right"> 
								<h2>RICHARD JOHANSON</h2>
								<h3>CEO - ElegentWorks</h3>
								<p>There aren't many marketing services as easy to use, or as easy to share with our audience as Largest Media. We have found that our list benefits tremendously from our sharing Largest Media through the performance based program.</p>  
							</div>
						</div> 
					  </li>
					   <li>
					  <div class="horizen">  
							<div class="slider_left">
								<img src="/static/images/home-1/testimonial_author.png" alt="img" />  
							</div>
							<div class="slider_right"> 
								<h2>CRISTINA RICHARDS</h2>
								<h3>CEO - SmartDesign</h3>
								<p>The services provided by them are very much appealing.</p>  
							</div>
						</div> 
					  </li>
					   
					  
					</ul>
				</div>
				<div class="col-md-12">
					<div class="partner">
						<div id="owl-demo-brand-two" >
<!-- 							<div class="item itme_brand_two"> 
								<img src="/static/images/home-1/brand-1.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								<img src="/static/images/home-1/brand-2.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								<img src="/static/images/home-1/brand-3.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								 <img src="/static/images/home-1/brand-4.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								 <img src="/static/images/home-1/brand-5.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								<img src="/static/images/home-1/brand-1.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								<img src="/static/images/home-1/brand-2.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								<img src="/static/images/home-1/brand-3.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								 <img src="/static/images/home-1/brand-4.png" alt="img" />
							</div> 
							<div class="item itme_brand_two"> 
								 <img src="/static/images/home-1/brand-5.png" alt="img" />
							</div>   -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
