<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA9aclayywdAca-szjc6veIFqSqERyeUaY"></script>

<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(20.3666683,72.8978009),
    zoom:8
  };
  var map=new google.maps.Map(document.getElementById("footerGoogleMap"), mapProp);
	var marker=new google.maps.Marker({
	position:new google.maps.LatLng(20.3666683,72.8978009),
	});

	marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<section id="footer_area">
	<div class="container">
		<div class="row">
			<div class="footer_content">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer_spacing">
					<div class="single_footer">
						<h2>MHW</h2>
						<p>Since 2009</p>
					</div>search
					<div class="footer_social">
						<a href="http://www.facebook.com" class="i fa fa-facebook"></a>
						<a href="http://www.twitter.com" class="i fa fa-twitter"></a>
						<a href="http://www.google.com" class="i fa fa-google-plus"></a>
						<a href="http://www.pinterest.com" class="i fa fa-pinterest"></a>
						<a href="http://www.rss.com" class="i fa fa-rss"></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer_spacing">
					<div class="column-three">
						<h2>Address</h2> 
						<span></span>
						<a href="" class="i fa fa-map-marker"></a> Ohio, United States of America <br />
						<a href="" class="i fa fa-phone"></a> - <br />
						<a href="" class="i fa fa-envelope-o"></a> marketinghubworld10@gmail.com <br />
					</div>
					<div class="subcriber">
						<h2>Leave Your Number We Will Contact You Back</h2>
						<span></span>
						<div class="footer-subscriber" id="footerformmessage">
							<form class="search-form" id="contactfooterform">
								<input autocomplete="off" id="contact-number" type="text" placeholder="Enter you Contact Number here">
								<button type="submit"><i class="fa fa-location-arrow"></i></button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer_spacing">
					<div class="small_gallery">
						<h2>Location</h2>
						<span></span>
           			<div id="footerGoogleMap" style="width:200px;height:180px;"></d11iv>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="horizenal" /> 
	<div class="container">
		<div class="row">
			<div class="copy_right_area">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="copy_left">
						<p>&copy;copyright 2016 <span>Marketing Hub World</span></p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
					<div class="copy_right">
						<ul>
							<li><a href="{% url 'web_home'%}">Home</a></li>
							<li><a href="">FAQ</a></li>
							<li><a href="{% url 'web_about'%}">About</a></li>
							<li><a href="{% url 'web_contactus'%}">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
