<section id="project-version-two">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="head_title about gallery text-center">
				<h4>Our Products</h4>
				<p> Our Products are tail made for our customers. Here are some of the ranges of products </p>
			</div>
			<div class="col-lg-12 gallery-filter-wrapper">
				<ul class="gallery-filter masonary">
					{% for category in categories %}
						<li data-filter=".gearbox">
							<span>{{category}}</span>
						</li>					    
					{% endfor %}

<!-- 					<li class="active" data-filter=".gearbox">
						<span>All</span>
					</li>
					<li data-filter=".gearbox">
						<span>Gear Box</span>
					</li>
					<li data-filter=".wormwheel">
						<span>Worm Wheel</span>
					</li>
					<li data-filter=".crownpinion">
						<span>Crown Pinion</span>
					</li>
					<li data-filter=".wormshaft">
						<span>Worm Shaft</span>
					</li>
					<li data-filter=".helicalpinion">
						<span>Pinion Shaft</span>
					</li>
					<li data-filter=".spiralbevelgear">
						<span>Spiral Bevel Gear</span>
					</li>
					<li data-filter=".gearshafts">
						<span>Gear Shafts</span>
					</li>
					<li data-filter=".warmwheelshaft">
						<span>Warm Wheel Shaft</span>
					</li>

					<li data-filter=".warmshaftelevators">
						<span>Warm Shaft For Elevators</span>
					</li>

					

					<li data-filter=".bath">
						<span>Bath</span>
					</li>
					<li data-filter=".floor">
						<span>Floor</span>
					</li>
					<li data-filter=".market">
						<span>Market</span>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 masonary-gallery" id="image-gallery-isotope">

				<!-- gallery img for Gear Box -->
				{% for product in products %}
					<div class="masonary-item width-1 outside gearbox">
						<div class="img-wrap" onclick="/product/{{product.id}}/">	
							<!-- gallery img -->
							<img src={{product.photo.url}} alt="img">
							<div class="content-wrap">
								<div class="border">
									<div class="content">
										<!-- lightbox img -->
										<a href="/product/{{product.id}}/" class="fancybox"><h4>{{product.name}}</h4></a>
										<a href="/product/{{product.id}}/" class="fancybox"><span>{{product.description}}</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section> 
