<section id="choose_area"> 
	<!-- choose area left --> 
	<div class="choose_image"> 
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="choose"></div>
				</div>
			</div>
		</div>
	</div> 
	<!-- Offer right -->
	<div class="choose_text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="choose ">
						<div class="choose_img">
							 <h2>Why choose us ?</h2>
							 <h3>We are a leading organization engaged in manufacturing and repairing gear</h3>
							 <span class="choose_separator"></span>
							 
							 <!-- choose icon -->
							 <div class="choose_icon">
								<div class="choose_left">
									<span class="flaticon-coffee135"></span>
								</div>
								<div class="choose_right">
									<p><br>100% Client Satisfaction</p>
								</div>
							 </div>
							 
							  <!-- choose icon -->
							  <div class="choose_icon">
								<div class="choose_left">
									<span class="flaticon-trophy71"></span>
								</div>
								<div class="choose_right">
									<p><br>Best Quality Assurance</p>
								</div>
							 </div>
							 
							  <!-- choose icon -->
							  <div class="choose_icon">
								<div class="choose_left">
									<span class="flaticon-like80"></span>
								</div>
								<div class="choose_right">
									<p><br>Best Infrastructure</p>
								</div>
							 </div>

						</div>
					</div>
				</div>
			</div> 
		</div>		
	</div> 
</section>
