<section id="aboutus_area">
	<div class="container">
		<div class="row">
		
			<!-- section title -->
			<div class="head_title about text-center">
				<h4>About us</h4>
				<h2>We Are Helicon Engineering Works</h2>
				<span class="text-center"></span>
				<p>We are a leading organization engaged in manufacturing and supplying Gear Boxes, Helical Gear Box, Reduction Gear Box, Bevel Helical Gear Box. Helical Gear Motor, Spiral Bevel Gear Box, D Mounting Hollow Input Shaft Helical Gear Box, Standard Horizontal Worm/Helical Gear Box, [Manufacturing All Kind Of Loose Gear Such As Spur Gears, Helical Gears, Spiral Bevel Gears, Crown & Pinion, Gear Couplings, Helical/Spur Rack Cutting No Matter How Long, Internal Cutting Etc.] [ We Also Manufacturing HighSpeed Power Saving Plastic Extruder Machine With Client Configuration & Design.<br><br>

				We Are Also Engaged In Repairing Facility Repairs Any Kind Of Typical Jobs & Imported Machinery Parts New & Repairs For Helping Our Clients In Best Way Of Us.<br><br>

				Any Types Of Fabrication & Machining Works As Per Drawing.<br><br>
		        
				All the products offered by us are fabricated/Casted using premium quality raw material, procured from leading vendors of the market. Owing to their unmatched quality, efficient functionality, resistance to adverse conditions and longer service life, these products are appreciated among customers. Catering to the specific requirements of the clients, we also offer these products with a number of customised options. Our range is extensively used by engineering, automotive and many other industries for their varied applications.<br><br>

				A well equipped infrastructure has been established by us that is installed with latest machines and 
				techniques. All these advancements are brilliantly handled by our team of experienced experts. With the determined and coordinated efforts of our professionals, we manage to bring forth a large product line of quality offerings. We also offer valuable after sales support for our range, catering to variegated choices of the clients. Moreover, we make sure that all our products are properly inspected on their efficiency, so as to avoid any sort quality related problem after the delivery at clients' end. These products can be availed by customers at industry leading prices. We also ensure on delivering the consignment safely and timely by the mode of road.
		        </p>
			</div>
			
			<!-- about icon content -->
			<div class="about_content">
			
				<!-- about one -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					
					<div class="single_about">
						<div class="single_icon">
							<span class="flaticon-engineer"></span> 
						</div>
						<div class="single_text">
							<h2>Professionals</h2>
							<p>\We Are Also Engaged In Repairing Facility Repairs Any Kind Of Typical Jobs & Imported Machinery Parts New & Repairs For Helping Our Clients In Best Way Of Us.

				Any Types Of Fabrication & Machining Works As Per Drawing.</p>
						</div>
					</div>
				</div>
				
				<!-- about two -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
					<div class="single_about">
						<div class="single_icon">
							<span class="flaticon-protection3"></span>
						</div>
						<div class="single_text">
							<h2>Trusted</h2>
							<p>All the products offered by us are fabricated/Casted using premium quality raw material, procured from leading vendors of the market. Owing to their unmatched quality, efficient functionality, resistance to adverse conditions and longer service life, these products are appreciated among customers. Catering to the specific requirements of the clients, we also offer these products with a number of customised options. Our range is extensively used by engineering, automotive and many other industries for their varied applications.</p>
						</div>
					</div>
				</div>
				
				<!-- about three -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
					<div class="single_about">
						<div class="single_icon">
							<span class="flaticon-maths5"></span>
						</div>
						<div class="single_text">
							<h2>Expert Designer</h2>
							<p>A well equipped infrastructure has been established by us that is installed with latest machines and techniques. All these advancements are brilliantly handled by our team of experienced experts. With the determined and coordinated efforts of our professionals, we manage to bring forth a large product line of quality offerings. We also offer valuable after sales support for our range, catering to variegated choices of the clients. Moreover, we make sure that all our products are properly inspected on their efficiency, so as to avoid any sort quality related problem after the delivery at clients' end. These products can be availed by customers at industry leading prices. We also ensure on delivering the consignment safely and timely by the mode of road.</p>
						</div>
					</div>
				</div> 
			</div>
			<!--- about main content -->
			
			<!-- about box one -->
		</div>
	</div>
</section>
