<section id="project-version-two">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="head_title about gallery text-center">
				<h4>Our Products</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
			</div>
			<div class="col-lg-12 gallery-filter-wrapper">
				<ul class="gallery-filter masonary">
					<li class="active" data-filter=".gearbox">
						<span>All</span>
					</li>
					<li data-filter=".gearbox">
						<span>Gear Box</span>
					</li>
					<li data-filter=".wormwheel">
						<span>Worm Wheel</span>
					</li>
					<li data-filter=".crownpinion">
						<span>Crown Pinion</span>
					</li>
					<li data-filter=".wormshaft">
						<span>Worm Shaft</span>
					</li>
					<li data-filter=".helicalpinion">
						<span>Pinion Shaft</span>
					</li>
					<li data-filter=".spiralbevelgear">
						<span>Spiral Bevel Gear</span>
					</li>
					<li data-filter=".gearshafts">
						<span>Gear Shafts</span>
					</li>
					<li data-filter=".warmwheelshaft">
						<span>Warm Wheel Shaft</span>
					</li>

					<li data-filter=".warmshaftelevators">
						<span>Warm Shaft For Elevators</span>
					</li>

					

					<li data-filter=".bath">
						<span>Bath</span>
					</li>
					<li data-filter=".floor">
						<span>Floor</span>
					</li>
					<li data-filter=".market">
						<span>Market</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 masonary-gallery" id="image-gallery-isotope">
			

				<!-- gallery img for Gear Box -->
				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/shaft-cutting.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/shaft-cutting.jpg" class="fancybox"><h4>Shaft Cutting Gear Box</h4></a>
									<a href="/static/images/shaft-cutting.jpg" class="fancybox"><span>Shaft Cutting Gear Box</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/single-shaft.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/single-shaft.jpg" class="fancybox"><h4>Single Shaft Extruder Gear Box</h4></a>
									<a href="/static/images/single-shaft.jpg" class="fancybox"><span>Single Shaft Extruder Gear Box</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/helical-gear-box.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/helical-gear-box.jpg" class="fancybox"><h4>Helical Gear Box</h4></a>
									<a href="/static/images/helical-gear-box.jpg" class="fancybox"><span>Helical Gear Box</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/hollow-gearbox.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/hollow-gearbox.jpg" class="fancybox"><h4>Hollow GearBox</h4></a>
									<a href="/static/images/hollow-gearbox.jpg" class="fancybox"><span>Hollow GearBox</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/reduction-gear-box.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/reduction-gear-box.jpg" class="fancybox"><h4>Reduction Gear Box</h4></a>
									<a href="/static/images/reduction-gear-box.jpg" class="fancybox"><span>Reduction Gear Box</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/double-helical-gear.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/double-helical-gear.jpg" class="fancybox"><h4>Double Helical Gear</h4></a>
									<a href="/static/images/double-helical-gear.jpg" class="fancybox"><span>Double Helical Gear</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/aluminum-gear-box.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/aluminum-gear-box.jpg" class="fancybox"><h4>Aluminum Gear Box</h4></a>
									<a href="/static/images/aluminum-gear-box.jpg" class="fancybox"><span>Aluminum Gear Box</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/gear-cutting-box.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/gear-cutting-box.jpg" class="fancybox"><h4>Gear Cutting Box</h4></a>
									<a href="/static/images/gear-cutting-box.jpg" class="fancybox"><span>Gear Cutting Box</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/long-gear-cutting-box.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/long-gear-cutting-box.jpg" class="fancybox"><h4>Long Gear Cutting Box</h4></a>
									<a href="/static/images/long-gear-cutting-box.jpg" class="fancybox"><span>Long Gear Cutting Box</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 outside gearbox">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/bevel-helical-gear-box.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/bevel-helical-gear-box.jpg" class="fancybox"><h4>Bevel Helical Gear Box</h4></a>
									<a href="/static/images/bevel-helical-gear-box.jpg" class="fancybox"><span>Bevel Helical Gear Box</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>




				<div class="masonary-item width-1 wormwheel">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/wormwheel.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/wormwheel.jpg" class="fancybox"><h4>Worm Wheel</h4></a>
									<a href="/static/images/wormwheel.jpg" class="fancybox"><span>Worm Wheel</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="masonary-item width-1 crownpinion">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/crownpinion.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/crownpinion.jpg" class="fancybox"><h4>Crown Pinion</h4></a>
									<a href="/static/images/crownpinion.jpg" class="fancybox"><span>Crown Pinion</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="masonary-item width-1 wormshaft">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/wormshaft.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/wormshaft.jpg" class="fancybox"><h4>Worm Shaft</h4></a>
									<a href="/static/images/wormshaft.jpg" class="fancybox"><span>Worm Shaft</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="masonary-item width-1 helicalpinion">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/helicalpinion.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/helicalpinion.jpg" class="fancybox"><h4>Pinion Shaft</h4></a>
									<a href="/static/images/helicalpinion.jpg" class="fancybox"><span>Pinion Shaft</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="masonary-item width-1 spiralbevelgear">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/spiralbevelgear.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/spiralbevelgear.jpg" class="fancybox"><h4>Spiral Bevel Gear</h4></a>
									<a href="/static/images/spiralbevelgear.jpg" class="fancybox"><span>Spiral Bevel Gear</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>


                <div class="masonary-item width-1 gearshafts">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/wormgearshaft.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/wormgearshaft.jpg" class="fancybox"><h4>Worm Gear Shaft</h4></a>
									<a href="/static/images/wormgearshaft.jpg" class="fancybox"><span>Worm Gear Shaft</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

                <div class="masonary-item width-1 gearshafts">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/forginggearshaft.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/forginggearshaft.jpg" class="fancybox"><h4>Forging Gear Shaft</h4></a>
									<a href="/static/images/forginggearshaft.jpg" class="fancybox"><span>Forging Gear Shaft</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

                <div class="masonary-item width-1 gearshafts">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/gear-shaft.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/gear-shaft.jpg" class="fancybox"><h4>Gear Shaft</h4></a>
									<a href="/static/images/gear-shaft.jpg" class="fancybox"><span>Gear Shaft</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

                <div class="masonary-item width-1 gearshafts">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/shaft1.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/shaft1.jpg" class="fancybox">
									<h4>Spur Gear Racks</h4></a>
									<a href="/static/images/shaft1.jpg" class="fancybox">
									<span>Spur Gear Racks</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

                <div class="masonary-item width-1 warmwheelshaft">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/warm-wheel-shaft.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/warm-wheel-shaft.jpg" class="fancybox"><h4>Warm Wheel Shaft</h4></a>
									<a href="/static/images/warm-wheel-shaft.jpg" class="fancybox"><span>Warm Wheel Shaft</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				 <div class="masonary-item width-1 warmshaftelevators">
					<div class="img-wrap">	
						<!-- gallery img -->
						<img src="/static/images/wormshaft.jpg" alt="img">
						<div class="content-wrap">
							<div class="border">
								<div class="content">
									<!-- lightbox img -->
									<a href="/static/images/wormshaft.jpg" class="fancybox">
									<h4>Warm Shaft For Elevators</h4></a>
									<a href="/static/images/wormshaft.jpg" class="fancybox">
									<span>Warm Shaft For Elevators</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 
