{% extends "templates/web-base.html" %}

{% load staticfiles %}

{% block content %}

     {% include 'templates/web-topheader.html' %}
	<!-- header stricky menu -->
     {% include 'templates/web-header.html' %}
	<!-- start header -->

<div class="page_titel">
	<div class="container">
		<div class="row">
			<div class="page_heading text-center">
				 <h2>We are Helicon Engineering Works</h2>
				 <span></span>
			</div>
		</div>
	</div>
</div>


<section class="section_speach" id="great_area">
	<div class="container">
		<div class="row">
			<div class="great about_area">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="about_single">
						<div class="img-holder">
							<img alt="" src="/static/images/page/about/about_bg.jpg">
							<div class="overlay">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>   
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="great_right">
						<h2>About Helicon Engineering Works</h2>
						<p>Established in the year 1984, we, “Helicon Engineering Works”, are a renowned manufacturer and supplier of Gear, Gear Boxes, Helical Pinion & Gear and Worm Shafts & Wheels in Vapi. Manufactured using quality tested metals and other raw material, our range matches well with the set industrial standards, such as DIN. These are appreciated for their tough construction, accurate functioning, high working efficiency and abrasion resistance. Catering to the diverse requirements of various automotive, mechanical and engineering industries, we offer these products with customization options.</p>

						<p>With the assistance of our sound infrastructure facility and immensely qualified team of experts, we have been able to meet the standards of the market. It is the combined efforts of these two factors that all our business processes are accomplished within the committed time frame. Moreover, with our strict quality measures, we mange to eliminate all the flaws from our entire business process. It is owing to all these factors that we have been able to attain a prominent market position and a wide clientèle.</p>
						
						<p>The visionary guidance of our mentor, 'Mr. Harun & Mr. Anish', has made us achieve our organizational goals of maximum client satisfaction. It is his domain expertise and in-depth knowledge that has made us move ahead in this industry as compared to our counterparts existing in the market.</p>
						 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div id="team_area">
	<div class="container">
		<div class="row">
			<div class="team_title about_span text-center">
				<h3>MEMBER</h3>
				<h2>Our Team</h2>
				<span></span>
				<p>We are supported by our team of immensely qualified and skilled professionals, which works with complete dedication towards accomplishing the business operations. Proficient in their respective field, our experts are selected after several rounds of interviews. Determined for their working.</p>

				<p>Our team comprise following professionals:</p>

				    <p>Engineers</p>
				    <p>Technicians</p>
				    <p>Quality controllers</p>
				    <p>R&D experts</p>
				    <p>Warehousing and packaging personnel</p>
				    <p>Sales and marketing professionals</p>

				<p>Well versed with the handling of the latest techniques installed by us, the engineers and technicians in our team brings forth a standardized range of products. Moreover, it is the coordinated working of our entire team, that assist us in meeting the bulk consignments of the clients without any delays.</p>
			</div>
			<div class="team_member text-center">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single_member">
						<div class="about_single">
							<div class="img-holder">
								<img alt="" src="/static/images/page/about/member-1.jpg">
								<div class="overlay">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div> 
						<div class="member_heading">
							<h2>ANISH KHOKAR</h2>
							<p>Owner</p>
							<p>08586970953</p>
						</div>
						<hr class="team_hr">
						<div class="team_social text-center">
							<ul>
								<li><a target="blanck" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
								<li><a target="blanck" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
								<li><a target="blanck" href="http://www.google.com"><i class="fa fa-google-plus"></i></a></li>
								<li><a target="blanck" href="http://www.rss.com"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single_member">
						<div class="about_single">
							<div class="img-holder">
								<img alt="" src="/static/images/page/about/member-2.jpg">
								<div class="overlay">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>  
						<div class="member_heading">
							<h2>HAROON KHOKAR</h2>
							<p>Founder</p>
							<p>08586970953</p>
						</div>
						<hr class="team_hr">
						<div class="team_social">
							<ul>
								<li><a target="blanck" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
								<li><a target="blanck" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
								<li><a target="blanck" href="http://www.google.com"><i class="fa fa-google-plus"></i></a></li>
								<li><a target="blanck" href="http://www.rss.com"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single_member">
						<div class="about_single">
							<div class="img-holder">
								<img alt="" src="/static/images/page/about/member-3.jpg">
								<div class="overlay">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>  
						<div class="member_heading">
							<h2>HAROON KHOKAR</h2>
							<p>Founder</p>
							<p>08586970953</p>
						</div>
						<hr class="team_hr">
						<div class="team_social">
							<ul>
								<li><a target="blanck" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
								<li><a target="blanck" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
								<li><a target="blanck" href="http://www.google.com"><i class="fa fa-google-plus"></i></a></li>
								<li><a target="blanck" href="http://www.rss.com"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single_member">
						<div class="about_single">
							<div class="img-holder">
								<img alt="" src="/static/images/page/about/member-4.jpg">
								<div class="overlay">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>  
						<div class="member_heading">
							<h2>HAROON KHOKAR</h2>
							<p>Founder</p>
							<p>08586970953</p>
						</div>
						<hr class="team_hr">
						<div class="team_social">
							<ul>
								<li><a target="blanck" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
								<li><a target="blanck" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
								<li><a target="blanck" href="http://www.google.com"><i class="fa fa-google-plus"></i></a></li>
								<li><a target="blanck" href="http://www.rss.com"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

	<!---footer start area -->
      {% include 'templates/web-footer.html' %}
	<!-- footer end area -->
{% endblock content %}

{% block scripts_extend %}
	<script src="{% static 'js/jquery.appear.js' %}"></script>
{% endblock %}
