{% extends "templates/web-base.html" %}

{% load staticfiles %}

{% block content %}

     {% include 'templates/web-topheader.html' %}
	<!-- header stricky menu -->
     {% include 'templates/web-header.html' %}
	<!-- start header -->

<div class="page_titel">
	<div class="container">
		<div class="row">
			<div class="page_heading text-center">
				 <h2>We are Helicon Engineering Works</h2>
				 <span></span>
			</div>
		</div>
	</div>
</div>


<div id="service_details">
	 	<div class="container">
	 		<div class="row">
				<!-- Right side -->
				<div class="single_service">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="about_single">
							<div class="img-holder service_left">
								<img alt="" src="/static/images/wormwheel.jpg">
								<div class="overlay">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div> 
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
						<div class="service_right">
							<div class="service_one">
								<h2>01</h2>
							</div>
							<div class="service_title">
								<h2>Worm Wheel</h2>
							</div>
							<h3>We bring forth an excellent array of Worm Wheels that help in transmitting rotor and torque. Having conclave faces, these products get easily fitted to the curvature of the worm pinion, thus undertaking hassle free operations. Designed to provide high angular velocity between the shafts, our range exhibits features that are in compliance with the standards of the international market. </h3>
							<hr class="service_line">
							<h3>Features:</h3>

							    <p>&#9658 Error free functioning <br>
							    &#9658 Tough construction<br>
							    &#9658 Wear and tear resistance</p>


							<h3>Specifications:</h3>

							    <p>&#9658 Input power: 0.04~22 kW<br>
							    &#9658 Output torque: 4~2320 Nm</p>
							<button class="btn btn-info hvr-sweep-to-right  sevice_button" href="{% url 'web_contactus'%}">GET QUOTE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				<!-- Right side  end-->

	<!---footer start area -->
      {% include 'templates/web-footer.html' %}
	<!-- footer end area -->
{% endblock content %}

{% block scripts_extend %}
	<script src="{% static 'js/jquery.appear.js' %}"></script>
{% endblock %}
 