{% extends "templates/web-base.html" %}

{% load staticfiles %}

{% block content %}

     {% include 'templates/web-topheader.html' %}
	<!-- header stricky menu -->
     {% include 'templates/web-header.html' %}
	<!-- start header -->

<!-- <div class="page_titel">
	<div class="container">
		<div class="row">
			<div class="page_heading text-center">
				 <span></span>
			</div>
		</div>
	</div>
</div> -->

<div id="service_details">
	 	<div class="container">
	 		<div class="row">

	 			{% for product in products %}
				<!-- Right side -->
					<div class="single_service">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="about_single">
								<div class="img-holder service_left">
									<img alt="" src={{product.photo.url}} style="height:200px; width:250px;">
									<div class="overlay">
										<a href="#"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div> 
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
							<div class="service_right">
								<div class="service_one">
									<h2>{{product.id}}</h2>
								</div>
								<div class="service_title">
									<h2>{{product.name}}</h2>
								</div>
								<h3>{{product.description}}</h3>
								<hr class="service_line">
								<a class="btn btn-info hvr-sweep-to-right  sevice_button" href={{product.url}}>BUY NOW</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
	 	</div>
	 </div>



	<!---footer start area -->
      {% include 'templates/web-footer.html' %}
	<!-- footer end area -->
{% endblock content %}

{% block scripts_extend %}
	<script src="{% static 'js/jquery.appear.js' %}"></script>
{% endblock %}
